<app-header></app-header>

<div class="container">
  <div class="sidebar">
    <ul>
      <li *ngFor="let item of menuItems; let i = index" (click)="onMenuItemClick(item)" id="menu-item-{{item.id}}" >
        <div>
          <img src="../../assets/images/{{item.image}}" alt="{{item.label}}" class="menu-logo">
        </div>
        {{ item.label }}
      </li>
    </ul>
  </div>
  <div class="main-content">
    <h1>{{pageTitle}}</h1>
    <router-outlet></router-outlet>
  </div>
</div>

<app-footer></app-footer>
