<div id="conteneur">
  <h1 id="header"><a href="#" title="Colored Design - Accueil"><span>Accueil</span></a></h1>

  <nav>
    <ul id="menu">
      <li><a href="/eleves">students</a></li>
    </ul>
  </nav>

  <div id="contenu">
    <h2>Un titre</h2>
    <p>Un paragraphe</p>
  </div>

  <p id="footer">Réalisation des codes HTML/CSS, du tutoriel et du design par ElMoustiko ;dqldf:nkq lfd qndlk:fn lfdnkldnkds:kndslk:qc cdqlsiknfp dsqljcbdnqclbdpqvmdqn^c pqnmvdkqcvmq cvq pnmd pvm dqcmnsoqcl qdvqpmnc qdl cdqimcc dqvk; cl ldjld d ldzlz l dllq dm l dljd c</p>

  <p id="footer">Réalisation des codes HTML/CSS, du tutoriel et du design par ElMoustiko</p>

  <p id="footer">Réalisation des codes HTML/CSS, du tutoriel et du design par ElMoustiko</p>

  <p id="footer">Réalisation des codes HTML/CSS, du tutoriel et du design par ElMoustiko</p>

  <p id="footer">Réalisation des codes HTML/CSS, du tutoriel et du design par ElMoustiko</p>

  <p id="footer">Réalisation des codes HTML/CSS, du tutoriel et du design par ElMoustiko</p>

  <p id="footer">Réalisation des codes HTML/CSS, du tutoriel et du design par ElMoustiko</p>lol

  <p id="footer">Réalisation des codes HTML/CSS, du tutoriel et du design par ElMoustiko</p>

  <p id="footer">Réalisation des codes HTML/CSS, du tutoriel et du design par ElMoustiko</p>

  <p id="footer">Réalisation des codes HTML/CSS, du tutoriel et du design par ElMoustiko</p>

  <p id="footer">Réalisation des codes HTML/CSS, du tutoriel et du design par ElMoustiko</p>

  <p id="footer">Réalisation des codes HTML/CSS, du tutoriel et du design par ElMoustiko</p>

  <p id="footer">Réalisation des codes HTML/CSS, du tutoriel et du design par ElMoustiko</p>

  <p id="footer">Réalisation des codes HTML/CSS, du tutoriel et du design par ElMoustiko</p>

  <p id="footer">Réalisation des codes HTML/CSS, du tutoriel et du design par ElMoustiko</p>mdr

  <p id="footer">Réalisation des codes HTML/CSS, du tutoriel et du design par ElMoustiko</p>

  <p id="footer">Réalisation des codes HTML/CSS, du tutoriel et du design par ElMoustiko</p>

  <p id="footer">Réalisation des codes HTML/CSS, du tutoriel et du design par ElMoustiko</p>

  <p id="footer">Réalisation des codes HTML/CSS, du tutoriel et du design par ElMoustiko</p>

  <p id="footer">Réalisation des codes HTML/CSS, du tutoriel et du design par ElMoustiko</p>

  <p id="footer">Réalisation des codes HTML/CSS, du tutoriel et du design par ElMoustiko</p>

  <p id="footer">Réalisation des codes HTML/CSS, du tutoriel et du design par ElMoustiko</p>

  <p id="footer">Réalisation des codes HTML/CSS, du tutoriel et du design par ElMoustiko</p>

  <p id="footer">Réalisation des codes HTML/CSS, du tutoriel et du design par ElMoustiko</p>

  <p id="footer">Réalisation des codes HTML/CSS, du tutoriel et du design par ElMoustiko</p>fin
</div>
